<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="src/main/resources/">
    <select id="findById" resultType="com.laba.solvd.db.dao.Interfaces.DepartmentMapper">
        SELECT * FROM department WHERE id = #{id}
    </select>

    <select id="getAll" resultType="com.laba.solvd.db.dao.Interfaces.DepartmentMapper">
        SELECT * FROM department
    </select>

    <insert id="insert">
        INSERT INTO department (column1, column2) VALUES (#{property1}, #{property2})
    </insert>

    <update id="update">
        UPDATE department SET column1 = #{property1}, column2 = #{property2} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM department WHERE id = #{id}
    </delete>

    <insert id="create">
        INSERT INTO department (column1, column2) VALUES (#{property1}, #{property2})
    </insert>
</mapper>
