<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.laba.solvd.db.dao.Interfaces.CredentialRepository">
    <insert id="create">
        INSERT INTO credentials (login, password, employee_id) VALUES (#{login}, #{password}, #{employee.id})
    </insert>

    <select id="getAll" resultMap="credentialResultMap">
        SELECT c.login as credential_login, c.password as credential_password FROM credentials c
    </select>

    <insert id="setCredential">
        INSERT INTO employees_credentials (employee_id, credential_id) VALUES (#{employee.id}, #{credential.id})
    </insert>

    <resultMap id="credentialResultMap" type="com.laba.solvd.db.model.Credential" automapping="false">
        <result property="login" column="credential_login"/>
        <result property="password" column="credential_password"/>
    </resultMap>
</mapper>

