<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.laba.solvd.db.dao.Interfaces.CredentialRepository">
    <insert id="create">
        INSERT INTO credentials (login, password, employee_id) VALUES (#{login}, #{password}, #{employee.id})
    </insert>

    <select id="getAll" resultType="com.laba.solvd.db.model.Credential">
        SELECT * FROM credentials
    </select>

    <insert id="setCredential">
        INSERT INTO employees_credentials (employee_id, credential_id) VALUES (#{employee.id}, #{credential.id})
    </insert>
</mapper>
