<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.laba.solvd.db.dao.Interfaces.DepartmentRepository">
    <select id="findById" resultType="com.laba.solvd.db.dao.Interfaces.DepartmentRepository">
        SELECT d.name as department FROM department d WHERE d.id = #{id}
    </select>

    <select id="getAll" resultType="com.laba.solvd.db.dao.Interfaces.DepartmentRepository">
        SELECT d.id as department_id, d.name as department,e.id as employee_id ,
        e.name as employee,e.position as position
        From departments d
        LEFT JOIN employees_departments ed ON d.id =ed.department_id
        LEFT JOIN employees e ON e.id = ed.employee_id
    </select>

    <insert id="create">
        INSERT INTO department (name) VALUES (#{property1})
    </insert>

    <resultMap id="departmentResultMap" type="com.laba.solvd.db.model.Department" automapping="false">
        <id property="id" column="department_id"/>
        <result property="name" column="department"/>
        <collection property="employees" ofType="com.laba.solvd.db.model.Employee">
            <id property="id" column="employee_id"/>
            <result property="name" column="employee"/>
            <result property="position" column="position"/>
        </collection>
    </resultMap>

</mapper>

