<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="src/main/resources/">
    <select id="findById" resultType="com.laba.solvd.db.dao.Interfaces.DepartmentRepository">
        SELECT * FROM department WHERE id = #{id}
    </select>

    <select id="getAll" resultType="com.laba.solvd.db.dao.Interfaces.DepartmentRepository">
        SELECT * FROM department
    </select>

    <update id="update">
        UPDATE department SET name = #{property1} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM department WHERE id = #{id}
    </delete>

    <insert id="create">
        INSERT INTO department (name) VALUES (#{property1})
    </insert>
</mapper>
